{{- $LastModifierDisplayName := "" }}
{{- $LastModifierEmail := "" }}
{{- $Date := "" }}
{{- $dateFormat := site.Params.dateFormat | default ":date_medium" }}
{{- with .GitInfo }}
  {{- with and (not site.Params.hideAuthorName) .AuthorName }}
    {{- $LastModifierDisplayName = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorEmail) .AuthorEmail }}
    {{- $LastModifierEmail = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorDate) .AuthorDate }}
    {{- $Date = . | time.Format $dateFormat }}
  {{- end }}
{{- else }}
  {{- with and (not site.Params.hideAuthorName) .Params.LastModifierDisplayName }}
    {{- $LastModifierDisplayName = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorEmail) .Params.LastModifierEmail }}
    {{- $LastModifierEmail = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorDate) .Date }}
    {{- $Date = . | time.Format $dateFormat }}
  {{- end }}
{{- end }}

{{- if $LastModifierDisplayName }}
              <i class='fa-fw fas fa-user'></i> {{ with $LastModifierEmail }}<a href="mailto:{{ . }}">{{ end }}{{ $LastModifierDisplayName }}{{ with $LastModifierEmail }}</a>{{ end }}
{{- end }}
{{- with $Date }}
              <i class='fa-fw fas fa-calendar'></i> {{ . }}
{{- end }}
{{- partial "term-list.html" (dict
  "page" .
  "taxonomy" "categories"
  "icon" "layer-group"
) }}
<div id="footer" style="text-align: center; margin: 20px;">
	<ul class="banners">
		<li class="cc">
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
				<img alt="Creative Commons License" style="border-width:0"
					src="https://licensebuttons.net/l/by-sa/4.0/88x31.png" />
			</a>
			<p>This work is licensed under a <a rel="license"
					href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
					International License</a>.</p>
		</li>
		<li class="wot-blitz">
			<a target="_blank" rel="nofollow" href="https://wotblitz.com/">
				<img src="/images/wot-blitz.png">
			</a>
		</li>
		<li class="wg-customer-support">
			<a target="_blank" rel="nofollow" href="https://wargaming.net/support">
				<img src="/images/wg-customer-support.png">
			</a>
		</li>
	</ul>
	<p>BlitzAnalysiz[] is a player-created website for World of Tanks: Blitz and developed in accordance with <a
			target="_blank" rel="nofollow" href="https://developers.wargaming.net/documentation/rules/agreement/">WG
			DPP</a>. This site is not an official Wargaming or World of Tanks: Blitz website. World of Tanks Blitz and
		Wargaming are trademarks of <a target="_blank" rel="nofollow" href="https://wargaming.net">Wargaming.net
			Limited</a>. Game content and materials copyright <a target="_blank" rel="nofollow"
			href="https://wargaming.net/">© Wargaming.net. All rights reserved</a>.
	</p>
</div>